h1 {
    text-align: center;
}
.message-row:nth-child(odd) {
    background-color: #ededed;
}

.message-row:nth-child(even) {
    background-color: #f8f8f8;
}

.file-row {
    margin: 5px;
    padding: 5px;
}

.file-row:nth-child(odd) {
    background-color: #ededed;
}

.file-row:nth-child(even) {
    background-color: #f8f8f8;
}